body{
  padding: 2rem;
  background-color: rgb(250, 245, 235);
}
a{
  margin : 1rem;
  background-color: aquamarine;
  padding:10px;


}
.logo{
  display: inline-block;
  display: flex;
  justify-content: space-around;
}

li{
  padding: 10px;
  background-color: white;
  margin: 5px;
  list-style: none;
  width: 20%;
  text-align: center;
}
#apiData{
  background-color: grey;
 font-weight: bold;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
 
}

footer {
  position: absolute;
  bottom: 5px;
}